.ce-inline-tool {
    &.ce-inline-tool--font {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .button-wrapper-text {
        width: 30px;
    }
    .selectionList {
        position: absolute;
        top: 35px;
        left: 0;
        .selection-list-wrapper {
            width: 50px;
            background: #fff;
            border: 1px solid #eaeaea;
            .selection-list-option {
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #eaeaea;
        
                &-active {
                  background-color: #eff2f5;
                }
            }
            .selection-list-option:hover {
                background-color: #eff2f5;
            }
        } 
    }
}

.selectionList {
    position: absolute;
    background: #fff;
    border: 1px solid #e8e8eb;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
    border-radius: 6px;
    padding: 6px 0;
    z-index: 1000; /* 他の要素より手前に表示 */
    min-width: 100px;
    box-sizing: border-box;
}

.selection-list-option {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px; /* 見やすいようにフォントサイズを調整 */
}

.selection-list-option:hover {
    background-color: #f2f2f2;
}

.selection-list-option-active {
    background-color: #eef5ff;
    color: #388ae5;
}
